doctype html
html
  head
    meta charset="utf-8"
    title Van Stee
    link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css" media="screen"
    link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css" media="screen"
    link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css"
    link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css" media="screen"
    link href="/favicon.png" rel="icon" type="image/png" 
    script type="text/javascript" src="//google-analytics.com/ga.js"
    javascript:
      _gaq.push(['_setAccount', 'UA-36354560-1']);
      _gaq.push(['_trackPageview']);
      window.addEventListener('load', function() { window.scrollTo(0, 0); });
  body
    div.navigation
      .logo
        a href="/" V
      ul
        li
          a href="/notes.html" Notes
        li
          a href="/info.html" Info
      div.clearfix
    div.header
      h1 Unix Directories
    div.article
      p.date 3 March 2013
      h2 If you've spent any time working with Unix, you've probably come across a directory name that you didn't understand.
      p Here's the list of most common directory names and a little bit about each of them.
      h2 clear="all"
        | /bin
        span.note Binaries
      p
        ' All the very basic commands used by all users on the system. This is where
        code ls
        ',
        code cat
        ', and
        code sh
        '  live.
      h2
        | /boot
        span.note Boot
      p Unsurprisingly contains everything needed to boot.
      h2
        | /dev
        span.note Device
      p
        ' Special, device related files. Here you can find file descriptors,
        code null
        '  and
        code urandom
        ' .
      h2
        | /etc
        span.note Etcetera
      p
        ' Configuration files such as:
        code motd
        ' ,
        code passwd
        ' , and
        code profile
        ' . Should not include any executable programs.
      h2
        | /home
        span.note Home
      p User home directories, used for user specific configuration and documents.
      h2
        | /lib
        span.note Library
      p Shared libraries need for booting and running system commands.
      h2
        | /mnt
        span.note Mount
      p Mount points for other file systems.
      h2
        | /opt
        span.note Optional
      p Add-on software packages.
      h2
        | /sbin
        span.note System Binaries
      p
        ' Similar to
        code
          | /bin
        '  but holds binaries which are only used by administrators. Commands like
        code ifconfig
        ' ,
        code mount
        ' , and
        code shutdown
        '  can be found here.
      h2
        | /tmp
        span.note Temporary
      p Temporary space for use by programs. Files in this directory are not required to be preserved after the program that created them has finished executing.
      h2
        | /usr
        span.note User
      p Executables, libraries, configuration files, and C header files which are not necessary to the operating system. These files are organized in a hierarchy with names similar to those in the root file system. Historically, this was where the user home directories lived, hence the name.
      h2
        | /var
        span.note Variable
      p Variable data files, such as lock files, log files, and temporary files that need to be preserved.
      p
        ' To find out more about the specific directory structure of your file system, checkout the
        code hier
        '  manpage. You can also read through the
        a href="http://www.pathname.com/fhs/pub/fhs-2.3.pdf" Filesystem Hierarchy Standard
        '  for more information.
