doctype html
html
  head
    meta charset="utf-8"
    title Info
    link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css" media="screen"
    link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css" media="screen"
    link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css"
    link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css" media="screen"
    link href="/favicon.png" rel="icon" type="image/png" 
    script type="text/javascript" src="//google-analytics.com/ga.js"
    javascript:
      _gaq.push(['_setAccount', 'UA-36354560-1']);
      _gaq.push(['_trackPageview']);
      window.addEventListener('load', function() { window.scrollTo(0, 0); });
  body
    div.navigation
      .logo
        a.me class="" href="/" V
      ul
        li
          a href="/notes.html" Notes
        li
          a href="/info.html" Info
      div.clearfix
    div.header
      h1 style="font-size: 8em" Hi, I’m Patrick.
    div.article
      p
        ' I
        a href="https://github.com/vanstee"
          | handcraft software
        '  at
        a href="https://www.bignerdranch.com"
          | Big Nerd Ranch
        |  in Atlanta, GA.
      p
        ' Send me cat pictures on
        a href="https://twitter.com/vanstee"
          | Twitter
        '  or come hang out with me at the
        a href="http://meetup.com/atlantaruby"
          | Atlanta Ruby Users Group
        | .
