doctype html
html
  head
    meta charset="utf-8"
    title Notes
    link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css" media="screen"
    link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css" media="screen"
    link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css"
    link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css" media="screen"
    link href="/favicon.png" rel="icon" type="image/png" 
    script type="text/javascript" src="//google-analytics.com/ga.js"
    javascript:
      _gaq.push(['_setAccount', 'UA-36354560-1']);
      _gaq.push(['_trackPageview']);
      window.addEventListener('load', function() { window.scrollTo(0, 0); });
  body
    div.navigation
      .logo
        a href="/" V
      ul
        li
          a href="/notes.html" Notes
        li
          a href="/info.html" Info
      div.clearfix
    h1 Fieldnotes
    div.articles
      ul
        li
          a href="/history-of-the-text-editor.html"
            h2 History of the Text Editor
            p.date 12 March 2013
            p Writing software today is nothing like it was back in the 70's, when using an "on-line" editor meant viewing one line of a program at a time.
        li
          a href="/unix-directories.html"
            h2 Unix Directories
            p.date 3 March 2013
            p If you've spent any time on a Unix system, you've probably come across a directory name that you didn't understand.
