@font-face { font-family: Din; src: ulr('Din.otf'); }

html { background-image: url('paper.png'); }
body { width: 900px; margin: 300px auto; -webkit-font-smoothing: antialiased; font-family: Helvetica; color: #333333 }
header { float: left; padding: 1em; background-color: #f5474b; }
header a:hover { text-decoration: none; }
h1 { font: bold 24px Din, Helvetica, sans-serif; color: #fefdfb; text-transform: uppercase; margin: 0; }
h1:first-child { letter-spacing: 1.5px; }
section { float: right; margin: 10px 40px; }
p { font-size: 24px; font-weight: lighter; }
a { color: #47b6f5; text-decoration: none; }
a:hover { text-decoration: underline; }
