* {
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #222;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 30em) {
  html, body {
    font-size: 14px;
  }
}

@media (min-width: 30em) and (max-width: 40em) {
  html, body {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Helvetica,
    sans-serif;
}

.measure {
  max-width: 38em;
}

.gray {
  color: #bbb;
}
