html
  background-color: #f5f5f5
  -webkit-font-smoothing: antialiased

body
  width: 900px
  margin: 50px auto
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  color: #222224

.navigation
  width: 700px
  margin: 0 auto 50px auto

  .logo
    float: left

    a
      width: 44px
      height: 64px
      display: block
      background-color: #fd4c4c
      font: 4em 'Vollkorn', serif
      line-height: 1em
      color: #fffcfc
      padding: 20px 25px 10px 25px

    a.me
      background-image: url('/stylesheets/images/me.jpg')

  ul
    list-style: none
    float: left
    margin: 0 0 0 30px
    padding: 0

    li
      font-size: 2em
      float: left

      a
        height: 49px
        display: block
        padding: 25px 30px 20px 30px
        color: #222224

      a:hover
        background-color: #fffcfc

.header
  width: 900px
  margin: 0 auto 50px auto

h1
  font: 7.4em 'Vollkorn', serif
  line-height: 1.2em
  text-align: center

.article
  width: 700px
  margin: 0 auto 50px auto

.articles
  width: 780px
  margin: -20px auto 50px auto

  ul
    list-style: none
    margin: 0
    -webkit-padding-start: 0

    li
      a
        width: 700px
        padding: 10px 40px
        display: block
        color: inherit

      a:hover
        background-color: #fffcfc
        text-decoration: none

h2
  font-size: 2.4em
  font-weight: 700

  span.note
    margin: 0 0 0 20px 
    font-weight: 400

p
  font-size: 1.5em
  font-weight: 400
  line-height: 1.8em

a 
  color: #47b6f5
  text-decoration: none

code
  font: 1em 'Droid Sans Mono', 'Andale Mono', 'Courier', monospace

div.article
  a:hover
    text-decoration: underline

div.tree
  float: left
  margin: 315px 0 0 0

.clearfix
  clear: both
