html {
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased; }

body {
  width: 900px;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #222224; }

.navigation {
  width: 700px;
  margin: 0 auto 50px auto; }
  .navigation .logo {
    float: left; }
    .navigation .logo a {
      width: 44px;
      height: 64px;
      display: block;
      background-color: #fd4c4c;
      font: 4em "Vollkorn", serif;
      line-height: 1em;
      color: #fffcfc;
      padding: 20px 25px 10px 25px; }
    .navigation .logo a.me {
      background-image: url("/stylesheets/images/me.jpg"); }
  .navigation ul {
    list-style: none;
    float: left;
    margin: 0 0 0 30px;
    padding: 0; }
    .navigation ul li {
      font-size: 2em;
      float: left; }
      .navigation ul li a {
        height: 49px;
        display: block;
        padding: 25px 30px 20px 30px;
        color: #222224; }
      .navigation ul li a:hover {
        background-color: #fffcfc; }

.header {
  width: 900px;
  margin: 0 auto 50px auto; }

h1 {
  font: 7.4em "Vollkorn", serif;
  line-height: 1.2em;
  text-align: center; }

.article {
  width: 700px;
  margin: 0 auto 50px auto; }

.articles {
  width: 780px;
  margin: -20px auto 50px auto; }
  .articles ul {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0; }
    .articles ul li a {
      width: 700px;
      padding: 10px 40px;
      display: block;
      color: inherit; }
    .articles ul li a:hover {
      background-color: #fffcfc;
      text-decoration: none; }

.resume {
  width: 700px;
  margin: 0 auto 50px auto; }
  .resume h2 {
    font-size: 2.4em;
    font-weight: 700; }
  .resume h3 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 2.4em;
    font-weight: 300; }
  .resume ul {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0; }
    .resume ul li p.position {
      font-weight: 700; }
  .resume ul.history li {
    margin: 50px 0;
    padding: 50px;
    background-color: #ffffff; }
    .resume ul.history li h4 {
      font-size: 1.5em;
      font-weight: 700; }
    .resume ul.history li ul {
      margin: 0 0 0 15px;
      list-style-type: disc;
      list-style-position: outside; }
      .resume ul.history li ul li {
        margin: 20px;
        padding: 0;
        font-size: 1.5em; }
  .resume ul.opensource li {
    width: 325px;
    margin: 0 50px 50px 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top; }
    .resume ul.opensource li a {
      display: block;
      padding: 40px 50px;
      background-color: #ffffff;
      color: #222224; }
      .resume ul.opensource li a h3 {
        font-size: 2em;
        margin-bottom: 10px; }
      .resume ul.opensource li a p {
        margin: 0;
        font-size: 1.3em; }
  .resume ul.opensource li:nth-child(even) {
    margin: 0 0 50px 0; }
  .resume ul.opensource li.wide {
    width: 700px; }
  .resume ul.knowledge li {
    margin: 0 0 50px 0;
    padding: 40px 50px;
    overflow: hidden;
    vertical-align: top;
    background-color: #ffffff; }
    .resume ul.knowledge li h3 {
      font-size: 2em;
      margin-bottom: 0; }
    .resume ul.knowledge li span {
      float: right;
      font-size: 2em; }

h2 {
  font-size: 2.4em;
  font-weight: 700; }
  h2 span.note {
    margin: 0 0 0 20px;
    font-weight: 400; }

p {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.8em; }

a {
  color: #47b6f5;
  text-decoration: none; }

code {
  font: 1em "Droid Sans Mono", "Andale Mono", "Courier", monospace; }

div.article a:hover {
  text-decoration: underline; }

div.tree {
  float: left;
  margin: 315px 0 0 0; }

.clearfix {
  clear: both; }
